body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

h2:hover{
    background-color: black;
    color: white;
    transition: 3s linear;
}

.info{
    display: flex;
}
.text1{
    margin-left: 110px;
}
.text2{
    margin-left: 140px;
}
.text3{
    margin-left: 140px;
}
.chek1{
    margin-left: 110px;
}
.chek2{
    margin-left: 140px;
}
.chek3{
    margin-left: 140px;
}
.chek1:hover{
   color: red;
   transition: 2s linear;
}
.chek2:hover{
    color: red;
    transition: 2s linear;
}
.chek3:hover{
    color: red;
    transition: 2s linear;
}
.milk1{
    margin-left: 110px;
}
.milk2{
    margin-left: 140px;
}
.milk3{
    margin-left: 140px;
}
.a{
    text-align: center;
}
svg{
    margin-left: 270px;
}

.b{
    text-align: center;
    border: 1px dashed black;
}
